$background-color1: rgb(253,205,205);
$background-color2: rgb(222,192,252);
$background-color3: rgb(206,192,252);
$background-color4: rgb(174,192,252);
$background-color5: rgb(148,225,234);

@mixin navigation() {
    color: $background-color4;
    background-color: navy;
    float: left;
    font-size: 20px;

    a:hover {
        background-color: $background-color4;
        color: navy;
    }
}

.container{
    background-color: $background-color1;
}

.button{
    border-radius: 50px;
}

.body{
    background-color: $background-color1;
}

.navbar{
    @include navigation;
}
