<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <!-- insert CDN connection  -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="../static/css/bss.css">
    </head>

    <body class="body">
        <div class="d-flex justify-content-center">
            <h1>LOGIN</h1>
        </div>

        <div class="login-container d-flex justify-content-center">
            <form class="login-form" method="POST">
                <div class="form-floating">
                    <input class="form-control" type="text" name="username" placeholder="Username" required>
                    <label for="floatingInput">Username</label>
                </div>
                <br>
                <div class="form-floating">
                    <input class="form-control" type="p assword" name="password" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                </div>
                <br>
                <input class="button signup-input" type="submit" name="submit" value="Login">
            </form>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <form class="signup-form-login">
                <p>Don't Have an Account?</p>
                <button class="button btn-lg btn-outline-primary" formaction="/register">Create an account</button>
            </form>
        </div>>
    </body>

    <script src="../static/js/test.js"></script>
</html>
